/* Temel stil düzenlemeleri */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e4ebf1;
}

.header {
    background-color: #34495e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}


.select-container {
  position: relative;
}


.filterBtn {
  position: absolute;
  top:0;
  left: 415px;
  background-color: #34495e;
  color: white;
  border-radius: .25em;
  padding: 15px 25px;
  border: none;
  outline: none;
  box-shadow: none; 
}

.filterBtn:hover {
  background-color: #f39c12;
  color: white;
}

.filterBtn:focus, .filterBtn:active {
  outline: none;
  border: none;
  box-shadow: none;
}

:root {
    --gray: #34495e;
    --darkgray: #2c3e50;
  }
  
  select {
    /* Reset Select */
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: var(--darkgray);
    background-image: none;
    cursor: pointer;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select wrapper */
  .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
    left: 9px;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: #34495e;
    transition: .25s all ease;
    pointer-events: none;
  }
  /* Transition */
  .select:hover::after {
    color: #f39c12;
  }

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2c3e50;
}

.nav-item{
    float: left;
}

.nav-item a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-item a:hover {
    background-color: #f39c12;
}













  
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
  
  .main-div {
    position: relative;
    margin: 10px;
    background-color: transparent;
  }
  
  .main-div1::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 50%;
    -webkit-box-shadow: 0 0 17px 3px #ff0000,0 0 4px 2px #ff0000;
            box-shadow: 0 0 17px 3px #ff0000,0 0 4px 2px #ff0000;
    z-index: -1;
    -webkit-animation-name: yellow-shadow;
            animation-name: yellow-shadow;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  
  .main-div1::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 50%;
    -webkit-box-shadow: 0 0 17px 3px #00ff00 ,0 0 4px 2px #00ff00 ;
            box-shadow: 0 0 17px 3px #00ff00 ,0 0 4px 2px #00ff00 ;
    z-index: -1;
    -webkit-animation-name: cyan-shadow;
            animation-name: cyan-shadow;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  
  
  h2 {
    margin: 0;
    position: relative;
    padding: 20px;
    background-color: #34495e;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  
  @-webkit-keyframes yellow-shadow {
    0% {
      top: 0;
      left: 0;
    }
    25% {
      top: 50%;
      left: 0;
    }
    50% {
      top: 50%;
      left: 50%;
    }
    75% {
      top: 0;
      left: 50%;
    }
    100% {
      top: 0;
      left: 0;
    }
  }
  
  @keyframes yellow-shadow {
    0% {
      top: 0;
      left: 0;
    }
    25% {
      top: 50%;
      left: 0;
    }
    50% {
      top: 50%;
      left: 50%;
    }
    75% {
      top: 0;
      left: 50%;
    }
    100% {
      top: 0;
      left: 0;
    }
  }
  
  @-webkit-keyframes cyan-shadow {
    0% {
      right: 0;
      bottom: 0;
    }
    25% {
      right: 0;
      bottom: 50%;
    }
    50% {
      right: 50%;
      bottom: 50%;
    }
    75% {
      right: 50%;
      bottom: 0;
    }
    100% {
      right: 0;
      bottom: 0;
    }
  }
  
  @keyframes cyan-shadow {
    0% {
      right: 0;
      bottom: 0;
    }
    25% {
      right: 0;
      bottom: 50%;
    }
    50% {
      right: 50%;
      bottom: 50%;
    }
    75% {
      right: 50%;
      bottom: 0;
    }
    100% {
      right: 0;
      bottom: 0;
    }
  }
  
  @-webkit-keyframes gradient-shadow {
    0% {
      -webkit-box-shadow: 0 0 17px 3px #C586C0,0 0 4px 2px #C586C0;
              box-shadow: 0 0 17px 3px #C586C0,0 0 4px 2px #C586C0;
    }
    20% {
      -webkit-box-shadow: 0 0 17px 3px #0ff,0 0 4px 2px #0ff;
              box-shadow: 0 0 17px 3px #0ff,0 0 4px 2px #0ff;
    }
    40% {
      -webkit-box-shadow: 0 0 17px 3px #0f0,0 0 4px 2px #0f0;
              box-shadow: 0 0 17px 3px #0f0,0 0 4px 2px #0f0;
    }
    60% {
      -webkit-box-shadow: 0 0 17px 3px #ffff01,0 0 4px 2px #ffff01;
              box-shadow: 0 0 17px 3px #ffff01,0 0 4px 2px #ffff01;
    }
    80% {
      -webkit-box-shadow: 0 0 17px 3px #f00,0 0 4px 2px #f00;
              box-shadow: 0 0 17px 3px #f00,0 0 4px 2px #f00;
    }
    100% {
      -webkit-box-shadow: 0 0 17px 3px #C586C0,0 0 4px 2px #C586C0;
              box-shadow: 0 0 17px 3px #C586C0,0 0 4px 2px #C586C0;
    }
  }
  
  @keyframes gradient-shadow {
    0% {
      -webkit-box-shadow: 0 0 17px 3px #C586C0,0 0 4px 2px #C586C0;
              box-shadow: 0 0 17px 3px #C586C0,0 0 4px 2px #C586C0;
    }
    20% {
      -webkit-box-shadow: 0 0 17px 3px #0ff,0 0 4px 2px #0ff;
              box-shadow: 0 0 17px 3px #0ff,0 0 4px 2px #0ff;
    }
    40% {
      -webkit-box-shadow: 0 0 17px 3px #0f0,0 0 4px 2px #0f0;
              box-shadow: 0 0 17px 3px #0f0,0 0 4px 2px #0f0;
    }
    60% {
      -webkit-box-shadow: 0 0 17px 3px #ffff01,0 0 4px 2px #ffff01;
              box-shadow: 0 0 17px 3px #ffff01,0 0 4px 2px #ffff01;
    }
    80% {
      -webkit-box-shadow: 0 0 17px 3px #f00,0 0 4px 2px #f00;
              box-shadow: 0 0 17px 3px #f00,0 0 4px 2px #f00;
    }
    100% {
      -webkit-box-shadow: 0 0 17px 3px #C586C0,0 0 4px 2px #C586C0;
              box-shadow: 0 0 17px 3px #C586C0,0 0 4px 2px #C586C0;
    }
  }
  
  @-webkit-keyframes half-yellow-shadow {
    0% {
      top: 0;
      left: 0;
      height: 50%;
      width: 50%;
    }
    16.66% {
      top: 0;
      left: 0;
      height: 50%;
      width: 100%;
    }
    32.32% {
      top: 0;
      left: 50%;
      height: 50%;
      width: 50%;
    }
    49.98% {
      top: 50%;
      left: 50%;
      height: 50%;
      width: 50%;
    }
    66.64% {
      top: 50%;
      left: 0;
      height: 50%;
      width: 100%;
    }
    83.3% {
      top: 50%;
      left: 0;
      height: 50%;
      width: 50%;
    }
    100% {
      top: 0;
      left: 0;
      height: 50%;
      width: 50%;
    }
  }
  
  @keyframes half-yellow-shadow {
    0% {
      top: 0;
      left: 0;
      height: 50%;
      width: 50%;
    }
    16.66% {
      top: 0;
      left: 0;
      height: 50%;
      width: 100%;
    }
    32.32% {
      top: 0;
      left: 50%;
      height: 50%;
      width: 50%;
    }
    49.98% {
      top: 50%;
      left: 50%;
      height: 50%;
      width: 50%;
    }
    66.64% {
      top: 50%;
      left: 0;
      height: 50%;
      width: 100%;
    }
    83.3% {
      top: 50%;
      left: 0;
      height: 50%;
      width: 50%;
    }
    100% {
      top: 0;
      left: 0;
      height: 50%;
      width: 50%;
    }
  }
  
  @-webkit-keyframes half-cyan-shadow {
    0% {
      bottom: 0;
      right: 0;
      height: 50%;
      width: 50%;
    }
    16.66% {
      bottom: 0;
      right: 0;
      height: 50%;
      width: 100%;
    }
    32.32% {
      bottom: 0;
      right: 50%;
      height: 50%;
      width: 50%;
    }
    49.98% {
      bottom: 50%;
      right: 50%;
      height: 50%;
      width: 50%;
    }
    66.64% {
      bottom: 50%;
      right: 0;
      height: 50%;
      width: 100%;
    }
    83.3% {
      bottom: 50%;
      right: 0;
      height: 50%;
      width: 50%;
    }
    100% {
      bottom: 0;
      right: 0;
      height: 50%;
      width: 50%;
    }
  }
  
  @keyframes half-cyan-shadow {
    0% {
      bottom: 0;
      right: 0;
      height: 50%;
      width: 50%;
    }
    16.66% {
      bottom: 0;
      right: 0;
      height: 50%;
      width: 100%;
    }
    32.32% {
      bottom: 0;
      right: 50%;
      height: 50%;
      width: 50%;
    }
    49.98% {
      bottom: 50%;
      right: 50%;
      height: 50%;
      width: 50%;
    }
    66.64% {
      bottom: 50%;
      right: 0;
      height: 50%;
      width: 100%;
    }
    83.3% {
      bottom: 50%;
      right: 0;
      height: 50%;
      width: 50%;
    }
    100% {
      bottom: 0;
      right: 0;
      height: 50%;
      width: 50%;
    }
  }










  .main-div2::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0 0 17px 3px #ffff01,0 0 4px 2px #ffff01;
            box-shadow: 0 0 17px 3px #ffff01,0 0 4px 2px #ffff01;
    z-index: -1;
    -webkit-animation-name: gradient-shadow;
            animation-name: gradient-shadow;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  
  .main-div3::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    -webkit-box-shadow: 0 0 17px 3px #ffff01,0 0 4px 2px #ffff01;
            box-shadow: 0 0 17px 3px #ffff01,0 0 4px 2px #ffff01;
    z-index: -1;
    -webkit-animation-name: half-yellow-shadow;
            animation-name: half-yellow-shadow;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  
  .main-div3::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    -webkit-box-shadow: 0 0 17px 3px #0ff,0 0 4px 2px #0ff;
            box-shadow: 0 0 17px 3px #0ff,0 0 4px 2px #0ff;
    z-index: -1;
    -webkit-animation-name: half-cyan-shadow;
            animation-name: half-cyan-shadow;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -5px; /* Yukarıdan 5px boşluk bırak */
  justify-content: center; /* Kartları yatayda ortala */
}

.card {
  margin: 5px; /* Kartlar arasında 5px boşluk bırak */
  margin-bottom: 5px; /* Kartlar arası boşluk */
  background-color: white; /* Kartlara arka plan rengi ekleyelim */
  border-radius: 5px; /* Kart köşelerine yuvarlatma ekleyelim */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Kartlara hafif bir gölge ekleyelim */
  overflow: hidden; /* Kart içeriği taşarsa keselim */
  flex-direction: column;
  display: flex;
  width: calc(11.95% - 1px); /* 8 kart sığacak şekilde hesapladık */
  border: 3px solid #34495e; /* Çerçeve eklendi */
}

.card .card-body {
  flex: 1; /* İçerik bölümü esnek olacak */
}

.card-body {
  text-align: center; /* Kart içeriğini ortala */
  flex-grow: 1; /* Kart içeriğini aşağıya doğru büyütelim */
  padding: 15px; /* İçeriğin kenar boşluğunu artıralım */
}



.card-title {
  text-align: center; /* Kart başlığını ortala */
  margin-bottom: 15px; /* Başlık ile açıklama arasına 15px boşluk bırak */
  font-size: 1.2rem; /* Başlık font boyutunu biraz büyütelim */
  font-weight: bold;
}


.card-text {
  text-align: center; /* Kart açıklamasını ortala */
  margin-bottom: 5px; /* Açıklama ile düğme arasına 5px boşluk bırak */
  font-size: 0.85rem;
}

.btn-primary {
  display: block; 
  margin: 0 auto; /* Kart düğmesini ortala */
  margin-top: 0px;
  background-color: #34495e;
  border: none;
}


.btn-primary:hover {
  background-color: #f39c12;
  color: white;
}

.btn-primary:focus, .btn-primary:active {
  outline: none;
  border: none;
  box-shadow: none;
}

.card-container {
  display: flex;
  flex-wrap: wrap;  
  gap: 5px; /* Kartlar arası boşluk */
}

h5 {
margin-left: 10px;
}


.form-group {
  margin-left: 5px; /* Sol kenarı 5px boşluk bırak */
}

.form-control {
  width: 350px; /* Form elemanlarının genişliğini 200px olarak ayarla */
  margin: 2px 0; /* Form elemanları arasında 5px boşluk bırak */
}


.btn-primary-two {
  display: block; 
  margin: 0 auto; /* Kart düğmesini ortala */
  margin-top: 0px;
  background-color: #34495e;
  border: none;
  color: white;
  margin-left: 5px;
}


.btn-primary-two:hover {
  background-color: #f39c12;
  color: white;
}

.btn-primary-two:focus, .btn-primary-two:active {
  outline: none;
  border: none;
  box-shadow: none;
}