{% extends "auctions/layout.html" %}

{% block body %}
<div class="wrapper">
    <div class="main-div main-div1">
        <h2>Create Listing</h2>
    </div>
</div>

<br>

    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        {% if message %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endif %}
        <div class="form-group">
            <label for="title" style="color: #2c3e50; font-weight: bold;">Title</label>
            <input type="text" class="form-control" name="title" id="title" placeholder="Title" required>
        </div>
        <div class="form-group">
            <label for="description" style="color: #2c3e50; font-weight: bold;">Description</label>
            <input type="text" class="form-control" name="description" id="description" placeholder="Description" required>
        </div>
        <div class="form-group">
            <label for="imgUrl" style="color: #2c3e50; font-weight: bold;">Image URL</label>
            <input type="text" class="form-control" name="imgUrl" id="imgUrl" placeholder="Image URL" required>
        </div>
        <div class="form-group">
            <label for="price" style="color: #2c3e50; font-weight: bold;">Price</label>
            <input type="number" min="0" class="form-control" name="price" id="price" placeholder="Price" required>
        </div>
    <div class="select-container">
        <div class="select">
            <select class="category" name="category" id="category">
                <option selected>Select Category</option>
                {% for Liste in categories %}
                    <option value="{{ Liste }}">{{ Liste }}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <button type="submit" class="filterBtn">Create New Listing</button>
    </div>
    </form>
{% endblock %}
