{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <form action="{% url 'viewCategory' %}" method="POST" class="my-4">
        {% csrf_token %}
        <label for="category">Select Category:</label>
    <div class="select">
        <select class="category" name="category" id="category">
            <option value="" {% if not selected_category %}selected{% endif %}>All Categories</option>
            {% for category in categories %}
                <option value="{{ category.categoryName }}" {% if selected_category == category.categoryName %}selected{% endif %}>{{ category.categoryName }}</option>
            {% endfor %}
        </select>
    </div>
        <button type="submit" class="btn btn-warning">Filter</button>
    </form>
    
    <div class="row mx-3">
    {% for listing in listings %}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ listing.imgUrl }}" alt="{{ listing.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ listing.title }}</h5>
                <p class="card-text">{{ listing.description }}</p>
                <a href="{% url 'product' id=listing.id %}" class="btn btn-primary">Product Details</a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}