{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        {% if msg %}
            {% if update %}
             <div class="alert alert-success" role="alert">
                {{ msg }}
             </div>
             {% else %}
             <div class="alert alert-danger" role="alert">
                {{ msg }}
             </div>
             {% endif %}
        {% endif %}
    </div>

    <div class="row">
        {% if user.is_authenticated %}
            {% if onWatchList %}
                <form action="{% url 'removeFromWatchList' id=product.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Remove From WatchList</button>
                </form>
            {% else %}
            <form action="{% url 'addToWatchList' id=product.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Add To WatchList</button>
            </form>
            {% endif %}

        {% endif %}
    </div>

    <h2>Product: {{ product.title }}</h2>
    <img src="{{ product.imgUrl }}" alt=" {{ product.title }}" height="350px">
    <p>Description: {{ product.description }}</p>
    <p>Seller: {{ product.owner }}</p>
    <h4>Price: {{ product.price.bid }} Turkish Liras</h5>
    
    {% if user.is_authenticated %}
    <form action="{% url 'addBid' id=product.id %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="price">Add Bid:</label>
            <input type="number" min="0" name="newBid" placeholder="Add New Bid">
            <button type="submit" class="btn btn-warning">ADD</button>
            {% if bidError %}
            <p class="text-danger">{{ bidError }}</p>
            {% endif %}
          </div>
    </form>
    {% else %}
        <p>You must be logged in to place a bid.</p>
    {% endif %}

    
    <br>

        <h2>Comments</h2>
    <br>
        {% if user.is_authenticated %}
            <form action="{% url 'newComment' id=product.id %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="price">Add New Comment: </label>
                    <input type="text" name="newComment" placeholder="Add New Comment">
                    <button type="submit" class="btn btn-warning">ADD</button>
                  </div>
            </form>
        {% endif %}
        <br>
        <ul class="list-group">
            {% for comments in showComments %}
                <li class="list-group-item"> COMMENT: {{ comments.msg }}
                    <br>
                    <br>
                    <p>COMMENT OWNER: <strong>{{ comments.writer }}</strong></p>
                    <p>COMMENT TIME: <strong>{{ comments.timestamp }}</strong></p>
                </li>
            {% endfor %}
        </ul>
{% endblock %}